<tr class="form-field">  
	<th scope="row" valign="top">  
		<label for="{{ name }}">{{ label }}</label>
	</th>  
	<td>  
		<input type="number" name="{{ name }}" class="{{ class }}" value="{{ value }}" />
		{% if foo not is empty %}
			<span class="description">{{ description }}</span>
		{% endif; %}
	</td>  
</tr>