<tr class="form-field">  
	<th scope="row" valign="top">  
		<label for="{{ name }}">{{ label }}</label>
	</th>  
	<td>  
		<input type="file" name="{{ name }}" class="{{ class }}" />
		{% if description not is empty %}
			<p class="description">{{ description }}</p>
		{% endif; %}
	</td>  
</tr>