<tr class="form-field">  
	<th scope="row" valign="top">  
		<label for="{{ name }}">{{ label }}</label>
	</th>  
	<td>  
		<textarea name="{{ name }}" class="{{ class }}">{{ value }}</textarea>
		{% if description not is empty %}
			<p class="description">{{ description }}</p>
		{% endif; %}
	</td>  
</tr>