<div class="form-field">
	<label for="{{ name }}">{{ label }}</label>
	<textarea name="{{ name }}" class="{{ class }}">{{ value }}</textarea>
	{% if description not is empty %}
		<p class="description">{{ description }}</p>
	{% endif; %}
</div>