<table class="tef-form" id="form-field">
	<form>
		<input type="hidden" name="object" value="{{ item.json|default("") }}" />
		<input type="hidden" name="ID" value="{{ item.ID|default(0) }}" />
	
		<thead>
		
		</thead>
		<tbody>
			<tr>
				<th><label>{{ translation.label|default('Label') }}</label></th>
				<td><input type="text" name="label" placeholder="" value="{{ item.label|default("") }}"></td>
			</tr>
			<tr>
				<th><label>{{ translation.name|default('Name') }}</label></th>
				<td><input type="text" name="name" placeholder="" value="{{ item.name|default("") }}"></td>
			</tr>
			<tr>
				<th><label>{{ translation.type|default('Type') }}</label></th>
				<td>
					<select>
						<option>{{ translation.select_option|default('Select an option') }}</option>
						{% for field_type in field_types %}
							<option value="{{ loop.index }}" {% if item.type == loop.index %} selected="selected" {% endif %}>{{ field_type.name }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th><label>{{ translation.description|default('Description') }}</label></th>
				<td><textarea rows="" cols="">{{ item.description|default("") }}</textarea></td>
			</tr>
			<tr>
				<th><label>{{ translation.required|default('Required') }}</label></th>
				<td><input type="checkbox" name="required" {% if item.required|default(0) %} checked="checked" {% endif %}></td>
			</tr>
			<tr>
				<td colspan="2">
					<button class="button primary">{{ translation.save|default('Save') }}</button>
					<button class="button">{{ translation.cancel|default('Cancel') }}</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
		
		</tfoot>
	</form>
</table>